<div class="table-responsive">
    <table id="EmployeeDataTable" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Department Name</th>
                <th>DateOfBirth</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
