@page
@model Poc.ResourceManagement.Pages.Employees.IndexModel
@{
}

<div class="container">
    <div class="mb-3">        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-url="@Url.Page("Index", "AddEditEmployeePartial")">
            Add Employee
        </button>
        <input type="button" id="btnShowSelectedRow" data-toggle="modal" data-target="#showSelectedRowModal" class="btn btn-primary" value="Show Selected Row" />
    </div>
    @await Html.PartialAsync("_employeeListPartialView")

</div>
<!-- Modal placeholder for Add or Update Employee -->
<div id="add-edit-modal-placeholder"></div>


<!--Selected Row Modal -->
<div class="modal fade" id="showSelectedRowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selected Rows</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <table class="table" >
                  <thead>
                 <tr><th>Name</th>
                 <th>Department</th>    
                 </tr>
                  </thead>
                    <tbody id="tableSelectedRowsData">

                  </tbody>
              </table>
            </div>
           
        </div>
    </div>
</div>
<!--Delete Confirm Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete !</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <h5> Are you sure want to delete this record ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteEmployee()" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


